* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, header {
    margin: 50px 0;
    padding: 0;
}

body, main {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

.container {
    padding: 70px 100px;
    text-align: center;
    border: 3px solid lightgrey;
    color: whitesmoke;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    filter: blur(2px) brightness(0.2);
}


.container p, h3 {
    margin-bottom: 20px;
}


/* EXTERNAL CODE
/* Apply some basic styles to the input element */
input[type="text"] {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Apply styles to the button */
button {
    padding: 8px 16px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Apply styles to the footer */
footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
